In [233]:
import pandas as pd

In [234]:
data = pd.read_csv("../data/Week1_Travel.csv")
data.head()

,additional_info,address,area,city,country,crawl_date,guest_recommendation,hotel_brand,hotel_category,hotel_description,...,room_count,room_facilities,room_type,similar_hotel,site_review_count,site_review_rating,site_stay_review_rating,sitename,state,uniq_id
0,Room Service|Internet Access|Restaurant|Free I...,"15th Mile, N.H.21,Manali, District Kullu,Himac...",Others,Manali,India,2016-07-24,85.0,NaN,gostays,The standard check-in time is 12:00 PM and the...,...,17,Room Service |Basic Bathroom Amenities|Cable /...,Deluxe Room,https://www.goibibo.com/hotels/woodchime-homes...,87.0,4.0,Service Quality::3.9|Amenities::3.7|Food and D...,goibibo,Himachal Pradesh,2c8db027d43a9452a43e88eb30d9f983
1,Room Service|Gym/Spa,"A-585, Sushant Lok-1 ,Near Iffco Chowk Metro S...",Sushant Lok,Gurgaon,India,2016-07-24,87.0,NaN,regular,The standard check-in time is 12:00 PM and the...,...,18,Room Service |Air Conditioning |Basic Bathroom...,Deluxe Room With Free WIFI,https://www.goibibo.com/hotels/stepinn-iffco-c...,8.0,4.5,Service Quality::4.7|Amenities::4.7|Food and D...,goibibo,Haryana,e98f69f889c0235e6dc480e7df6de0de
2,Restaurant|Swimming Pool,"Cobra Vaddo,Calungate Baga Road, Bardez, Calan...",Calangute Area,Goa,India,2016-07-24,50.0,NaN,regular,The standard check-in time is 12:00 PM and the...,...,15,Room Service |Air Conditioning |Cable / Satell...,Standard Room,https://www.goibibo.com/hotels/sunrise-beach-r...,2.0,2.5,Service Quality::2.5|Amenities::2.5|Food and D...,goibibo,Goa,9b59d00eaffc273d83000ed7dcda0e83
3,NaN,Simsa,Village Simsa,Manali,India,2016-07-24,100.0,NaN,regular,The standard check-in time is 12:00 PM and the...,...,24,Basic Bathroom Amenities|Cable / Satellite / P...,Deluxe Room,https://www.goibibo.com/hotels/green-cottages-...,1.0,5.0,Service Quality::5.0|Amenities::5.0|Food and D...,goibibo,Himachal Pradesh,df0971f9c5501af112485ee28b468ce5
4,Internet Access|Restaurant,"8180 Street No.-6,Arakashan Road,Paharganj",Paharganj,Delhi,India,2016-07-24,63.0,NaN,regular,The standard check-in time is 12:00 PM and the...,...,20,Basic Bathroom Amenities|Cable / Satellite / P...,Standard Room Non AC,https://www.goibibo.com/hotels/delhi-continent...,121.0,2.8,Service Quality::2.7|Amenities::2.6|Food and D...,goibibo,Delhi,0c3514344c9cda8718f558e84bdb44ef

In [263]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4000 entries, 0 to 3999
Data columns (total 36 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   additional_info           4000 non-null   object
 1   address                   4000 non-null   object
 2   area                      4000 non-null   object
 3   city                      4000 non-null   object
 4   country                   4000 non-null   object
 5   crawl_date                4000 non-null   object
 6   guest_recommendation      4000 non-null   float64
 7   hotel_brand               4000 non-null   object
 8   hotel_category            4000 non-null   object
 9   hotel_description         4000 non-null   object
 10  hotel_facilities          4000 non-null   object
 11  hotel_star_rating         4000 non-null   int64
 12  image_count               4000 non-null   int64
 13  latitude                  4000 non-null   float64
 14  locality                  4000 non-null   object
 15  longitude                 4000 non-null   float64
 16  pageurl                   4000 non-null   object
 17  point_of_interest         4000 non-null   object
 18  property_id               4000 non-null   object
 19  property_name             4000 non-null   object
 20  property_type             4000 non-null   object
 21  province                  4000 non-null   object
 22  qts                       4000 non-null   object
 23  query_time_stamp          4000 non-null   object
 24  review_count_by_category  4000 non-null   object
 25  room_area                 4000 non-null   object
 26  room_count                4000 non-null   int64
 27  room_facilities           4000 non-null   object
 28  room_type                 4000 non-null   object
 29  similar_hotel             4000 non-null   object
 30  site_review_count         4000 non-null   float64
 31  site_review_rating        4000 non-null   float64
 32  site_stay_review_rating   4000 non-null   object
 33  sitename                  4000 non-null   object
 34  state                     4000 non-null   object
 35  uniq_id                   4000 non-null   object
dtypes: float64(5), int64(3), object(28)
memory usage: 1.1+ MB

In [235]:
data.describe()

,guest_recommendation,hotel_star_rating,image_count,latitude,longitude,room_count,site_review_count,site_review_rating
count,2416.000000,4000.000000,4000.000000,4000.000000,4000.000000,4000.000000,2416.000000,2416.000000
mean,75.537666,1.306000,12.995500,21.288213,77.432995,22.200250,47.765728,3.750993
std,22.698935,1.479159,11.631113,7.576905,4.506588,96.132138,93.233924,0.842863
min,0.000000,0.000000,0.000000,8.080476,12.939682,0.000000,0.000000,0.000000
25%,67.000000,0.000000,6.000000,13.748553,74.723694,7.000000,4.000000,3.400000
50%,80.000000,1.000000,9.000000,22.225083,76.967365,14.000000,17.000000,3.900000
75%,90.000000,3.000000,17.000000,28.018203,78.286097,26.000000,55.000000,4.300000
max,100.000000,5.000000,129.000000,79.608077,95.346775,5874.000000,2094.000000,5.000000

In [236]:
missing = data.isna().sum()
df_missing = missing[missing > 0]
pd.DataFrame(data=df_missing, columns={"Jumlah Missing": 0})

                          Jumlah Missing
additional_info                      808
area                                  35
guest_recommendation                1584
hotel_brand                         3611
hotel_description                     17
hotel_facilities                     194
locality                              35
point_of_interest                    240
qts                                 1284
review_count_by_category            1585
room_area                           2872
room_facilities                      270
similar_hotel                         83
site_review_count                   1584
site_review_rating                  1584

In [237]:
numerical_features = data.select_dtypes(include=["int64", "float64"]).columns.to_list()
numerical_features

['guest_recommendation',
 'hotel_star_rating',
 'image_count',
 'latitude',
 'longitude',
 'room_count',
 'site_review_count',
 'site_review_rating']

In [238]:
for col in numerical_features:
    if data[col].isna().sum() > 0:  # cek apakah ada missing-nya
        data[col] = data[col].fillna(data[col].median())

In [240]:
category_features = data.select_dtypes(include=["object"]).columns.to_list()
category_features

['additional_info',
 'address',
 'area',
 'city',
 'country',
 'crawl_date',
 'hotel_brand',
 'hotel_category',
 'hotel_description',
 'hotel_facilities',
 'locality',
 'pageurl',
 'point_of_interest',
 'property_id',
 'property_name',
 'property_type',
 'province',
 'qts',
 'query_time_stamp',
 'review_count_by_category',
 'room_area',
 'room_facilities',
 'room_type',
 'similar_hotel',
 'site_stay_review_rating',
 'sitename',
 'state',
 'uniq_id']

In [241]:
for col in category_features:
    if data[col].isna().sum() > 0:  # cek apakah ada missing-nya
        data[col] = data[col].fillna("Unknown")

In [242]:
data.isna().sum()

additional_info             0
address                     0
area                        0
city                        0
country                     0
crawl_date                  0
guest_recommendation        0
hotel_brand                 0
hotel_category              0
hotel_description           0
hotel_facilities            0
hotel_star_rating           0
image_count                 0
latitude                    0
locality                    0
longitude                   0
pageurl                     0
point_of_interest           0
property_id                 0
property_name               0
property_type               0
province                    0
qts                         0
query_time_stamp            0
review_count_by_category    0
room_area                   0
room_count                  0
room_facilities             0
room_type                   0
similar_hotel               0
site_review_count           0
site_review_rating          0
site_stay_review_rating     0
sitename                    0
state                       0
uniq_id                     0
dtype: int64

In [258]:
data.duplicated().sum()

np.int64(0)

In [259]:
data.describe()

,guest_recommendation,hotel_star_rating,image_count,latitude,longitude,room_count,site_review_count,site_review_rating
count,4000.000000,4000.000000,4000.000000,4000.000000,4000.000000,4000.000000,4000.000000,4000.00000
mean,77.304750,1.306000,12.995500,21.288213,77.432995,22.200250,35.582500,3.81000
std,17.774106,1.479159,11.631113,7.576905,4.506588,96.132138,73.999322,0.65904
min,0.000000,0.000000,0.000000,8.080476,12.939682,0.000000,0.000000,0.00000
25%,76.000000,0.000000,6.000000,13.748553,74.723694,7.000000,11.000000,3.80000
50%,80.000000,1.000000,9.000000,22.225083,76.967365,14.000000,17.000000,3.90000
75%,83.000000,3.000000,17.000000,28.018203,78.286097,26.000000,25.000000,4.00000
max,100.000000,5.000000,129.000000,79.608077,95.346775,5874.000000,2094.000000,5.00000

In [248]:
data.dtypes

additional_info              object
address                      object
area                         object
city                         object
country                      object
crawl_date                   object
guest_recommendation        float64
hotel_brand                  object
hotel_category               object
hotel_description            object
hotel_facilities             object
hotel_star_rating             int64
image_count                   int64
latitude                    float64
locality                     object
longitude                   float64
pageurl                      object
point_of_interest            object
property_id                  object
property_name                object
property_type                object
province                     object
qts                          object
query_time_stamp             object
review_count_by_category     object
room_area                    object
room_count                    int64
room_facilities              object
room_type                    object
similar_hotel                object
site_review_count           float64
site_review_rating          float64
site_stay_review_rating      object
sitename                     object
state                        object
uniq_id                      object
dtype: object

In [260]:
data.groupby("city")["site_review_rating"].mean().sort_values(ascending=False)

city
Mainpuri        5.0
Ichalkaranji    5.0
Kharapathar     5.0
Fatehabad       5.0
Rikkisum        5.0
               ...
Godhra          1.0
Harda           1.0
Burhanpur       1.0
Chitrasani      1.0
Bilaspur,HP     1.0
Name: site_review_rating, Length: 558, dtype: float64

In [250]:
data['property_type'].value_counts()

property_type
Hotel                2314
Resort                516
Guest House           243
Homestay              231
Service Apartment     183
Lodge                 117
Houseboat              78
Cottage                75
Tent                   57
Villa                  49
BnB                    49
Bungalow               46
Palace                 11
Hostel                 10
Motel                   9
Farm Stay               7
Luxury Yacht            3
Beach Hut               2
Name: count, dtype: int64

In [251]:
data.corr(numeric_only=True)

,guest_recommendation,hotel_star_rating,image_count,latitude,longitude,room_count,site_review_count,site_review_rating
guest_recommendation,1.000000,0.008779,0.024203,-0.033057,-0.043152,0.001678,0.054132,0.555332
hotel_star_rating,0.008779,1.000000,0.399877,0.023437,-0.031867,0.133108,0.294542,0.128224
image_count,0.024203,0.399877,1.000000,-0.008798,-0.063348,0.145609,0.276731,0.123756
latitude,-0.033057,0.023437,-0.008798,1.000000,0.025291,0.010434,-0.016515,-0.036192
longitude,-0.043152,-0.031867,-0.063348,0.025291,1.000000,-0.023662,-0.008926,-0.041017
room_count,0.001678,0.133108,0.145609,0.010434,-0.023662,1.000000,0.074488,0.013405
site_review_count,0.054132,0.294542,0.276731,-0.016515,-0.008926,0.074488,1.000000,0.125984
site_review_rating,0.555332,0.128224,0.123756,-0.036192,-0.041017,0.013405,0.125984,1.000000

In [252]:
def remove_outliers_iqr(df, columns, x):
    df_clean = df.copy()
    for col in columns:
        Q1 = df_clean[col].quantile(0.25)
        Q3 = df_clean[col].quantile(0.75)
        IQR = Q3 - Q1
        lower_bound = Q1 - x * IQR
        upper_bound = Q3 + x * IQR
        df_clean = df_clean[(df_clean[col] >= lower_bound) & (df_clean[col] <= upper_bound)]
    return df_clean

In [264]:
new_num_outlier = ['guest_recommendation',
 'hotel_star_rating',
 'image_count',
 'latitude',
 'longitude',
 'room_count',
 'site_review_count']
df_no_outliers = remove_outliers_iqr(data, new_num_outlier, 1.5)

In [256]:
df_no_outliers.describe()

,guest_recommendation,hotel_star_rating,image_count,latitude,longitude,room_count,site_review_count,site_review_rating
count,1741.000000,1741.000000,1741.000000,1741.000000,1741.000000,1741.000000,1741.000000,1741.000000
mean,79.789776,0.740953,8.877657,20.729056,76.299265,12.044227,17.067777,3.898047
std,3.379881,1.165148,6.305213,7.799787,2.409875,10.117630,3.164640,0.223881
min,66.000000,0.000000,0.000000,8.082573,69.265404,0.000000,8.000000,2.400000
25%,80.000000,0.000000,4.000000,13.044207,74.250212,4.000000,17.000000,3.900000
50%,80.000000,0.000000,8.000000,19.211453,76.342647,9.000000,17.000000,3.900000
75%,80.000000,1.000000,11.000000,28.464164,77.602412,17.000000,17.000000,3.900000
max,93.000000,5.000000,33.000000,34.303162,83.577020,51.000000,32.000000,5.000000

In [261]:
df_no_outliers.corr(numeric_only=True)

,guest_recommendation,hotel_star_rating,image_count,latitude,longitude,room_count,site_review_count,site_review_rating
guest_recommendation,1.000000,-0.017777,0.005346,0.003659,-0.014105,-0.096162,0.057052,0.429567
hotel_star_rating,-0.017777,1.000000,0.242732,0.084830,0.052395,0.280320,0.087061,0.067680
image_count,0.005346,0.242732,1.000000,0.020016,-0.068669,0.179560,0.032041,0.108250
latitude,0.003659,0.084830,0.020016,1.000000,0.045264,0.161693,-0.027904,-0.008450
longitude,-0.014105,0.052395,-0.068669,0.045264,1.000000,0.092099,-0.035816,-0.024602
room_count,-0.096162,0.280320,0.179560,0.161693,0.092099,1.000000,0.086296,-0.041953
site_review_count,0.057052,0.087061,0.032041,-0.027904,-0.035816,0.086296,1.000000,0.092011
site_review_rating,0.429567,0.067680,0.108250,-0.008450,-0.024602,-0.041953,0.092011,1.000000